<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ancit.gymmanager.ui.perspective.GymManagerPerspective"
            id="org.ancit.gymmanager.ui.perspective.GymManagerPerspective"
            name="GymManager">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.ancit.gymmanager.ui.views.GymDetailsView"
            id="org.ancit.gymmanager.ui.views.GymDetailsView"
            name="Gym Details View">
      </view>
      <view
            class="org.ancit.gymmanager.ui.views.MemberDetailsView"
            id="org.ancit.gymmanager.ui.views.MemberDetailsView"
            name="Member Details">
      </view>
   </extension>

</plugin>
